@font-face {
  font-family: "Digital";
  src: url(./assets/digital.ttf);
}

@font-face {
  font-family: "Sans-Seriff";
  src: url(./assets/Sans-Seriff.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Sans-Seriff";
}

#game-panel {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100vh;
    width: 100%;

    padding: 1rem;

    background: #202020;
    
}

#options {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    padding: 1rem;
}

#options h1 {
    color: #fff;
    cursor: pointer;
}

#options h1:hover {
    color: #ff0000;
}

#options h1 {
    font-size: 1.5rem;
}

#options .game-mode {
    margin-bottom: 1rem;
}

#options button {
    border: 1px black solid;
    height: 2rem;
    width: 5rem;
}

#game-elements {
    display: flex;
    flex-direction: column;
    background: #bdbdbd;
    padding: 1rem;

    border: 2px #707070 outset;
    border-top-color: #fff;
    border-left-color: #fff;
}

#information-panel {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 100%;
    width: auto;
    margin-bottom: 1rem;

    border: 3px #87888f outset;
    border-top-color: #fff;
    border-left-color: #fff;

    padding: 0.25rem  1rem;
}

#information-panel button {
    border: 3px #87888f outset;
    border-top-color: #000;
    border-left-color: #000;
}

#information-panel img {
    height: 2rem;
    width: 2rem;
}

#information-panel #bombs, #information-panel #timer {
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 3rem;
    background: #400000;
}

#information-panel h1 {
    color: #fe0000;
    font-family: "Digital";
}

#grid {
    display: grid;
    grid-template-columns: repeat(8, 2rem);
    grid-auto-rows: 2rem;

    gap: 0;

    border: 2px #87888f outset;
    border-bottom-color: #fff;
    border-right-color: #fff;

  overflow: hidden;
}

#grid button {
    aspect-ratio: 1;
    object-fit: contain;
    border: 3px #87888f outset;
    border-top-color: #fff;
    border-left-color: #fff;
}

#grid button .bombs {
    display: none;
}  

#grid button span {
    font-size: 1.5rem;
}

#grid button img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}
